.responsive-menu {
  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    border-top: #ddd 1px solid;

    &:first-of-type{
      border-top: none;
    }

    a {
      display: block;
      padding: 0 20px;
      text-decoration: none;
      color: #444;
      transition: $variables__time--transition;
      height: 55px;
      line-height: 55px;
      width: 100%;

      &:hover {
        background-color: #f5f5f5;
      }
    }

    &.menu-item-has-children>a{
      float: left;
      width: calc(100% - 55px);
    }


    .arrow {
      background-color: #fff;
      display: block;
      width: 55px;
      height: 55px;
      float: right;
      text-align: center;
      transition: $variables__time--transition;
      border: none;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    &.children--showing > .arrow {
      transform: rotate(180deg);
    }


    ul {
      display: none;
      margin-bottom: 30px;
      margin-left: 20px;
      clear: both;

      li {
        border-top: none;

        a {
          padding: 0 10px;
          height: 35px;
          line-height: 35px;
          border-top: none;

          &:hover {
            background-color: transparent;
            color: $variables__color--primary;
          }
        }

        &.menu-item-has-children>a{
          width: calc(100% - 35px);
        }
        .arrow {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

}