// Color variables.
$primary: #ff8d00;
$variables__color--primary: #ff8d00;
$variables__color--primaryDarken: #db7e0a;
$variables__color--secondary: #7443BC;
$variables__color--secondaryDarken: #6330ad;

// Size variables.
$variables__size--radius: 10px;

// Time variables.
$variables__time--transition: 0.2s;